.itemCountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 154, 152);
  padding-bottom: 0.5rem;
}

.childrenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: none;
  background-color: rgb(216, 213, 209);
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  width: 30px;
  margin: 10px;
}
