.detailsContainer {
  display: flex;
  color: white;
  gap: 20px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.col {
  max-width: 400px;
  margin: 5px;
}

.productImage {
  border-radius: 15px;
}

.productDetails {
  font-size: 1.5rem;
}

.firstItem {
  margin-top: 0%;
}
