.itemCountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.childrenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  text-align: center;
  background-color: rgb(172, 170, 167);
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  margin: 10px;
}

.count {
  font-size: 1.5rem;
}
