.itemCard {
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  color: rgb(78, 77, 77);
  text-align: center;
  border: 2px solid;
  border-radius: 1rem;
  margin: 5px;
  text-decoration: none;
  background-color: #f0b4b6;

  text-shadow: -1px -1px 1px rgba(248, 244, 244, 0.555),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.itemImage {
  border-radius: 10px;
  background-color: azure;
  margin: 10px;
}

.p:hover {
  opacity: 0.8;
}

@media (max-width: 560px) {
  .itemImage {
    width: 90%;
    height: auto;
  }
}

.p {
  text-decoration: none;
}

p {
  text-decoration: none;
}
