.itemCard {
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  color: rgb(78, 77, 77);
  text-align: center;
  border: 2px solid;
  border-radius: 1rem;

  text-decoration: none;
  background-color: #b5e7e6 !important;
}

.itemImage {
  border-radius: 10px;
  background-color: azure;
  width: max-content;
  min-height: auto;
}

.p:hover {
  opacity: 0.8;
}

h2 {
  color: #333333;
  font-size: 17px;
  font-family: sans-serif;
  width: 100%;
  height: auto;
}

h3 {
  color: #424236;
  font-size: 20px;
  width: 100%;
  height: auto;
}

@media (max-width: 560px) {
  .itemImage {
    width: 90%;
    height: auto;
    margin: 5px;
  }
}

.p {
  text-decoration: none;
  margin: 5px;
}

.BackSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b5e7e6 !important;
  border: 2px solid;
  border-radius: 1rem;
  color: rgb(78, 77, 77);
  font-size: 1.5rem;
}

.button {
  background-color: #059cd5;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  border: none;
  padding: 0.5rem;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.back {
  background-color: #ec1017;
}

.backCard {
  background-color: rgb(240, 238, 236);
  border: 1px solid;
  border-radius: 1rem;
}

.imglogo {
  width: 200px;
  height: 200px;
  opacity: 0.8;
}
