.itemCard {
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  color: rgb(78, 77, 77);
  text-align: center;
  border: 2px solid;
  border-radius: 1rem;
  margin: 5px;
  text-decoration: none;
  background-color: #f06e72 !important;

  text-shadow: -1px -1px 1px rgba(248, 244, 244, 0.555),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.itemImage {
  border-radius: 10px;
  background-color: azure;
  width: max-content;
  min-height: auto;
}

.p:hover {
  opacity: 0.8;
}

@media (max-width: 560px) {
  .itemImage {
    width: 90%;
    height: auto;
    margin: 5px;
  }
}

.p {
  text-decoration: none;
  margin: 5px;
}

.BackSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f65a5f !important;
  border: 2px solid;
  border-radius: 1rem;
  color: rgb(78, 77, 77);
  font-size: 1.5rem;
}

.button {
  background-color: #65c18c;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  border: none;
  padding: 0.5rem;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.back {
  background-color: #ec1017;
}

.backCard {
  background-color: rgb(240, 238, 236);
  border: 1px solid;
  border-radius: 1rem;
}

.imglogo {
  width: 200px;
  height: 200px;
  opacity: 0.8;
}
