.NavContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  color: rgb(14, 13, 13);
  background-color: #65c18c;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.NavImg {
  display: flex;
  justify-content: flex-start;
  width: 10rem;
  height: 4rem;
  overflow: hidden;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.searchButton {
  cursor: pointer;
  border: none;
  background: none;
  height: 100%;
  text-decoration: none;
  color: black;
}

.NavLink {
  text-decoration: none;
  color: black;
  background-color: #c1f4c5;
  border-radius: 1rem;
  padding: 10px;
}

.NavLink:hover {
  opacity: 0.8;
}

.active {
  background-color: #65c18c;
}

.CarWidget {
  color: black;
  text-decoration: none;
}
.searchButtonNone {
  display: none;
}

.cartButton {
  text-decoration: none;
  color: black;
  display: flex;
}

.cartNumber {
  background-color: rgb(243, 48, 48);
  padding: 0.25rem;
  border-radius: 4rem;
  width: 20px;
}
