.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  display: flex;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
}
